article {
    //display: flex;
    padding: 20px;
    border-radius: 30px;
    background-color: var(--secondary-color);
    //width: 769px;
    //min-width: 769px;

    & h1 {
        display: flex;
    }

    & img {
        width: 180px;
    }
}

.product-description {
    display: flex;
}

.product-info {
    display: flex;
}