<article>
    <h1>Pizza grande</h1>
    <div class="product-description">
        <img 
            src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
            alt="Imagem de um lanche cachorro-quente."
        >
        <div>
            <div class="product-info">
                <p>Pizza grande</p>
                <span>R$ 25,00</span> <br>
            </div>
            <p>Pode escolher até 4 sabores</p>
        </div>
    </div>
</article>
