<main>
    <section id="menu">
        <h1>Cardápio</h1>
        <section id="pizza-flavours">
            <h2>Sabores de pizza</h2>
            <article class="food-card">
                <img 
                    class="food-image"
                    src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Eq_it-na_pizza-margherita_sep2005_sml.jpg" 
                    alt="Imagem de uma pizza."
                >
                <div class="card-info">
                    <h5>Marguerita</h5>
                    <p>Ingredientes: Mussarela, manjericão e molho de tomate.</p>
                </div>
            </article>
        </section>
    </section>
</main>
