<main>
    <section id="menu">
        <h1>Cardápio</h1>
        <div class="menu-options">
            <a href="produto/novo" class="sucess-button">+ Adicionar sabor</a>
        </div>
        <section id="pizza-flavours">
            <article *ngFor = "let flavour of flavoursList" class="food-card">
                <img 
                    class="food-image"
                    src="{{flavour.imageURL}}" 
                    alt="Imagem de uma pizza."
                >
                <div class="card-info">
                    <h5>{{flavour.name}}</h5>
                    <p>Ingredientes: {{flavour.ingredients}}</p>
                </div>
            </article>
        </section>
    </section>
</main>
