<header>
    <menu id="header-content">  
        <div>
            <a href="/pedido" id="header-logo" title="Página inicial">
                <img 
                    src="../../../../assets/icons/logo-palm-tree.png.svg" 
                    alt="Vetor de uma palmeira ao sol."
                >
                <p>
                    Pizzaria <br>
                    Tropical
                </p>
            </a>
        </div>
        <nav>
            <!-- <div class="nav-item-box">
                <a href="/menu">
                    <div class="nav-icon-box">
                        <img 
                            src="../../../../assets/icons/menu-icon.svg" 
                            alt="Ícone de cardápio de restaurante."
                            title="Ver o cardápio"
                        >
                    </div>
                    <p>Cardápio</p>
                </a>
            </div> -->
            <div class="nav-item-box">
                <a href="/pedido">
                    <div class="nav-icon-box">
                        <img 
                            src="../../../../assets/icons/food-tray-icon.svg" 
                            alt="Ícone de bandeja de comida."
                            title="Ver meu pedidos"
                        >
                    </div>
                    <p>Meu pedido</p>
                </a>
            </div>
            <!-- <div class="nav-item-box">
                <a href="">
                    <div class="nav-icon-box">
                        <img 
                            src="../../../../assets/icons/settings-icon.svg" 
                            alt="Ícone de engrenagem."
                            title="Gerênciar a pizzaria"
                        >
                    </div>
                    <p>Configurar</p>
                </a>
            </div>
            <div class="nav-item-box">
                <a href="">
                    <div class="nav-icon-box">
                        <img 
                            src="../../../../assets/icons/profile-icon.svg" 
                            alt="Ícone de usuário."
                            title="Minhas informações"
                        >
                    </div>
                    <p>Perfil</p>
                </a>
            </div> -->
        </nav> 
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/exit-icon.svg" 
                        alt="Ícone de porta para entrar/sair."
                        title="Entrar/Sair"
                    >
                </div>
            </a>
        </div>
    </menu>
</header>