<header>
    <div>
        <a href="" id="header-logo">
            <img 
                src="../../../../assets/icons/logo-palm-tree.png.svg" 
                alt="Vetor de uma palmeira ao sol."
            >
            <p>
                Pizzaria <br>
                Tropical
            </p>
        </a>
    </div>
    <nav>
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/menu-icon.svg" 
                        alt="Ícone de bandeja de comida."
                    >
                </div>
                <p>Cardápio</p>
            </a>
        </div>
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/food-tray-icon.svg" 
                        alt="Ícone de bandeja de comida."
                    >
                </div>
                <p>Meu pedido</p>
            </a>
        </div>
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/settings-icon.svg" 
                        alt="Ícone de engrenagem."
                    >
                </div>
                <p>Configurar</p>
            </a>
        </div>
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/profile-icon.svg" 
                        alt="Ícone de usuário."
                    >
                </div>
                <p>Perfil</p>
            </a>
        </div>
        <div class="nav-item-box">
            <a href="">
                <div class="nav-icon-box">
                    <img 
                        src="../../../../assets/icons/exit-icon.svg" 
                        alt="Ícone de porta para entrar/sair."
                        title="Entrar/Sair"
                    >
                </div>
            </a>
        </div>
    </nav>
</header>