header {
    background-color: var(--main-color);
    display: flex;
    justify-content: center;
}

#header-content {
    padding: 5px 10px 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1260px;
}

#header-logo {
    font-size: 20px;
    display: flex;
    align-items: center;

    & img {
        margin-right: 7.5px;
    }
}

nav {
    display: flex;
    align-items: baseline;

    & a:hover {
        text-decoration-line: underline;
    }

    & .nav-icon-box {
        display: flex;
        justify-content: center;
    }
}

.nav-item-box {
    margin: 0px 15px 0px 15px;
}