header {
    background-color: var(--main-color);
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

#header-logo {
    font-size: 20px;
}

nav {
    & a:hover {
        text-decoration-line: underline;
    }
}