<main>
    <section id="menu">
        <h1 class="section-title">Cardápio</h1>
        <menu class="menu-options">
            <a href="produto/novo" class="sucess-button">Adicionar produto</a>
        </menu>
        <section id="cards-section">
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
            <article>
                <img 
                    src="https://static.itdg.com.br/images/1200-675/ac539e127fc4784c8606502714f3de96/357545-original.jpg" 
                    alt="Imagem de um lanche cachorro-quente."
                >
                <div class="card-info">
                    <h4>Cachorro-quente</h4>
                    <span>R$ 10,00</span>
                </div>
            </article>
        </section>
    </section>
</main>